body {
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
  }
  
  .header {
    padding: 0 45px;
    background-color: #283593;
    color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .nav a {
    color: #FFF;
    text-decoration: none;
    display: block;
    transition: all 0.3s ease-out;
  }
  
  .nav a:hover {
    color: #c5cae9;
    transform: rotate(6deg);
  }
  
  .nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav li {
    margin-left: 20px;
  }
  
  .hero {
    background-color: #c5cae9;
    padding: 60px 45px;
    display: flex;
    justify-content: center;
  }
  
  .hero-inner {
    max-width: 760px;
  }
  
  .hero h1 {
    font-weight: normal;
    font-size: 4rem;
    margin: 0;
  }
  
  .hero p {
    font-size: 1.18rem;
    line-height: 1.6;
  }
  
  .button {
    background-color: #3949ab;
    color: #FFF;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 1.18rem;
    display: inline-block;
  }
  
  .features {
    background-color: #e8eaf6;
    padding: 60px 45px;
  }
  
  .features-inner {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 45px;
    grid-row-gap: 45px;
  }
  
  .event {
    background-color: #e8eaf6;
    padding: 60px 45px;
  }
  
  .event-inner {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 45px;
    grid-row-gap: 45px;
  }


.photos img {
    width: 100%;
}

.photos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
}

.button2 {
  background-color: #3949ab;
  color: #FFF;
  text-decoration: none;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 1.18rem;
  display: inline-block;
}

.footer {
  text-align: center;
  padding: 20px 0;
  color: #999;
  font-size: .9rem;
}

